<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid color-black">
      <span>
        <a href="profile.html">
          <span class="fas fa-chevron-left fontawsome_icon text-padding-top color-black"></span>
        </a>
      <a class="navbar-text navbar-brand text-bold text-padding-left" href="#">
        Websites
      </a>
      </span>
    <a routerLink="/user/{{userId}}/website/new">
      <span class="fas fa-plus fontawsome-icon color-black"></span>
    </a>
  </div>
</nav>
<div class="container container-padding">
  <ul class="list-group list-borderless">
    <li class="list-group-item list-borderless" *ngFor="let website of websites">
      <a routerLink="/user/{{userId}}/website/{{website.websiteId}}/page">{{website.name}}</a>
      <a routerLink="/user/{{userId}}/website/{{website.websiteId}}"><i class="fas fa-cog fontawsome_icon float-right"></i></a>
    </li>
  </ul>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    &nbsp;
    <a class="check" (click)="backToProfile()">
      <span class="fas fa-user fontawsome-icon color-black"></span>
    </a>
  </div>
</nav>
