<header>
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <p class="navbar-text float-left">
        <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/" class="navbar-link">
          <span class="nav-black-icon fas fa-chevron-left fontawsome_icon top-left"></span>
        </a>
        <a class="navbar-black-brand" routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/{{widgetId}}/header">
          Edit Widget
        </a>
      </p>
      <a (click)="widgetOperation()" class="navbar-link navbar-text float-right check-icon"><span class="nav-black-icon fas fa-check fontawsome_icon top-right">
        </span>
      </a>
    </div>
  </nav>
</header>
<main>
<div class="container">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
    <div class="form-group text-padding-top">
      <label for="widget name" class="text-bold">Name</label>
      <input id="widget name" type="text" class="form-control" placeholder="Name" [(ngModel)]="widget.name"/>
    </div>
    <div class="form-group">
      <label for="widget-size" class="text-bold">Size</label>
      <input id="widget-size" type="number" class="form-control" placeholder="Size" [(ngModel)]="widget.size"/>
    </div>
  <a *ngIf="!isNewWidget" (click)="deleteWidget()" class="check btn btn-danger btn-block">Delete</a>
  <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/" class="btn btn-success btn-block">Cancel</a>
</div>
</main>


<footer>
  <nav class="navbar fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text float-left"></p>
      <a class="nav-black-icon" routerLink="/profile">
        <span class="fas fa-user fontawsome-icon bottom-right"></span>
      </a>
    </div>
  </nav>
</footer>


