<header>
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <p class="navbar-text float-left">
        <a routerLink="/profile/website" class="navbar-link">
          <span class="nav-black-icon fas fa-chevron-left fontawsome_icon top-left"></span>
        </a>
        <a class="navbar-black-brand" routerLink="/profile/website/{{websiteId}}/page">
          Pages
        </a>
      </p>
      <a routerLink="new" class="navbar-link navbar-text float-right">
        <span class="nav-black-icon fas fa-plus fontawsome-icon top-right"></span>
      </a>
    </div>
  </nav>
</header>

<main>
<div class="container">
  <ul class="list-group list-borderless">
    <li class="list-group-item list-borderless" *ngFor="let page of pages">
      <a routerLink="{{page._id}}/widget">{{page.name}}</a>
      <a routerLink="{{page._id}}"><i class="fas fa-cog fontawsome_icon float-right"></i></a>
    </li>
  </ul>
</div>
</main>

<footer>
  <nav class="navbar fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text float-left"></p>
      <a class="nav-black-icon" routerLink="/profile">
        <span class="fas fa-user fontawsome-icon bottom-right"></span>
      </a>
    </div>
  </nav>
</footer>

