<header>
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <p class="navbar-text float-left">
        <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/{{widgetId}}" class="navbar-link">
          <span class="nav-black-icon fas fa-chevron-left fontawsome_icon top-left"></span>
        </a>
        <a class="navbar-black-brand" routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/{{widgetId}}/image/flickr">
          Search Flickr
        </a>
      </p>
    </div>
  </nav>
</header>

<main>
  <div class="container">
    <div class="input-group">
  <input [(ngModel)]="searchText" type="text" class="form-control"/>
  <span class="input-group">
    <a (click)="searchPhotos()" class="btn btn-default float-right" type="button">
     <i class="fas fa-search"></i>
    </a>
  </span>
  </div>
    <div class="row">
      <div *ngFor = "let pic of photos"
           class="col-xs-4">
        <img (click)="selectPhoto(pic)"
                width="100%"
                [src] = "['https://farm' + pic.farm + '.staticflickr.com/' + pic.server + '/' + pic.id + '_' + pic.secret + '_s.jpg']"/>

        <p></p>
      </div>
    </div>

  </div>
</main>

<footer>
  <nav class="navbar fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text float-left"></p>
      <a class="nav-black-icon" routerLink="/profile">
        <span class="fas fa-user fontawsome-icon bottom-right"></span>
      </a>
    </div>
  </nav>
</footer>
