<div class="container">

  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1>
    {{title}}
  </h1>
  <div>
      <input [(ngModel)]="username" type="text" class="form-control" placeholder="username"/>
      <input [(ngModel)]="password" type="password" class="form-control" placeholder="password"/>
      <input [(ngModel)]="v_password" type="password" class="form-control" placeholder="verify password"/>
      <input [(ngModel)]="firstName" type="text" class="form-control" placeholder="last name"/>
      <input [(ngModel)]="lastName" type="text" class="form-control" placeholder="first name"/>

    <a (click)="register(v_password)" class="btn btn-primary btn-block color-white">Register</a>
  </div>

</div>
