body {
  padding-top: 70px;
  padding-bottom: 70px;
}

input.form-control {
  margin-bottom: 5px;
}


.blue-navbar {
  background: #007bff;
}

.navbar-fixed-top {
  height: 70px;
  width: 100%;
  background-color: #007bff;
  position: fixed;
  top:0;
}

.navbar-fixed-bottom {
  height: 70px;
  width: 100%;
  background-color: #007bff;
  position: fixed;
  bottom: 0;
}

a:hover {
  text-decoration: none;
}
.text-white {
  color: #FFF;
}

.text-padding-top {
  padding-top: 10px;
}

.text-bold {
  font-weight: bold;
}

.text-padding-left {
  padding-left: 10px;
}

.text-align-center {
  text-align: center;
  display: block;
}

.list-borderless {
  border:none;
}

.container-padding {
  padding: 15px 0 180px 0;
}

.profile-padding-left {
  padding-left: 215px;
}



