body {
  padding-top: 60px;
  padding-bottom: 70px;
}

input.form-control {
  margin-bottom: 5px;
}

a:hover {
  text-decoration: none;
}

.text-padding-top {
  padding-top: 8px;
}

.text-bold {
  font-weight: bold;
}

.text-padding-left {
  padding-left: 10px;
}

.text-align-center {
  text-align: center;
  display: block;
}

.list-borderless {
  border:none;
}

.container-padding {
  padding: 15px 0 180px 0;
}

.full-width {
  width: 100%;
}

.margin-top {
  margin-top: 10px;
}

.row-in-navbar {
  flex-grow: 1;
}

.color-black {
  color: #000;
}

.header-padding-left {
  padding-left: 5.8%;
}

.widget-images{
  display: inline;
  width: 85%;
  z-index: 100;
  position: relative;
}

.margin-right {
  margin-right: 10px;
}
