<header>
<nav class="navbar fixed-top background-blue">
  <div class="container-fluid">
  <a class="navbar-brand" routerLink="/user/{{user._id}}">
    {{title}}
  </a>
  <a (click)="updateUser()" class="nav-icon navbar-link navbar-text float-right text-white check-icon">
    <span class="fas fa-check fontawsome_icon top-right"></span>
  </a>
  </div>
</nav>
</header>
<main>
<div class="container container-padding">
    <div class="form-group">
      <label for="username"><strong>Username</strong></label>
      <input id="username" class="form-control" type="text" placeholder="change your username" [(ngModel)]="user.username"/>
    </div>
    <div class="form-group">
      <label for="password"><strong>Password</strong></label>
      <input id="password" class="form-control" type="password" placeholder="change your password" [(ngModel)]="user.password"/>
    </div>
    <div class="form-group">
      <label for="first-name"><strong>First Name</strong></label>
      <input id="first-name" class="form-control" type="text" placeholder="change your first name" [(ngModel)]="user.firstName"/>
    </div>
    <div class="form-group">
      <label for="last-name"><strong>Last Name</strong></label>
      <input id="last-name" class="form-control" type="text" placeholder="change your last name" [(ngModel)]="user.lastName"/>
    </div>

    <a routerLink="/profile/website" class="btn btn-primary btn-block">Websites</a>
    <a class="btn btn-danger btn-block" (click)="logout()">Logout</a>
</div>
</main>
<footer>
<nav class="navbar fixed-bottom background-blue">
  <a class="navbar-brand" id="hide" routerLink="/user/{{user._id}}">Profile</a>
</nav>
</footer>

