<nav class="navbar navbar-default fixed-top navbar-light bg-light">
  <div class="container-fluid">
      <span>
        <a href="widget-list.html" class="text-padding-top">
          <i class="color-black fas fa-chevron-left fontawsome_icon text-padding-top"></i>
        </a>
      <a class="color-black navbar-text navbar-brand text-bold text-padding-left" routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">
        Choose Widget
      </a>
      </span>
  </div>
</nav>
<div class="container container-padding">
  <ul class="list-group list-borderless">
    <li class="list-group-item list-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new/header">Header</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">Label</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">HTML</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">Text Input</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">Link</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">Button</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new/image">Image</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new/youtube">Youtube</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">Data Table</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">Repeater</a>
    </li>
  </ul>
  <a class="btn btn-danger btn-block" href="widget-list.html">Cancel</a>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid row">
    &nbsp;
    <a (click)="backToProfile()" class="check float-right">
      <i class="fas fa-user fontawsome-icon color-black"></i>
    </a>
  </div>
</nav>
