<header>
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <p class="navbar-text float-left">
        <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget" class="navbar-link">
          <span class="nav-black-icon fas fa-chevron-left fontawsome_icon top-left"></span>
        </a>
        <a class="navbar-black-brand" routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/new">
          Choose Widget
        </a>
      </p>
    </div>
  </nav>
</header>
<main>
<div class="container container-padding">
  <ul class="list-group list-borderless">
    <li class="list-group-item list-borderless">
      <a routerLink="header">Header</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/new">Label</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="html">HTML</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="text">Text Input</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/new">Link</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/new">Button</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="image">Image</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="youtube">Youtube</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/new">Data Table</a>
    </li>
    <li class="list-group-item list-borderless">
      <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/new">Repeater</a>
    </li>
  </ul>
  <a class="btn btn-danger btn-block" routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget">Cancel</a>
</div>
</main>
<footer>
  <nav class="navbar fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text float-left"></p>
      <a class="nav-black-icon" routerLink="/profile">
        <span class="fas fa-user fontawsome-icon bottom-right"></span>
      </a>
    </div>
  </nav>
</footer>
