<div class="container">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1>
    {{title}}
  </h1>
  <div>
    <form method="get" (ngSubmit)="login()" #f="ngForm">
      <input type="text" class="form-control" placeholder="username" name="username"
             ngModel required #username="ngModel"/>
      <input type="password" class="form-control" placeholder="password" name="password"
             ngModel required #password="ngModel"/>
      <button class="button-div btn btn-primary btn-block" type="submit" [disabled]="!f.valid">Login</button>
      <a href="/facebook/login" class="btn btn-primary btn-block"><span class="fab fa-facebook-square">Log in With Facebook</span></a>
      <a routerLink="/register" class="button-div btn btn-success btn-block">Register</a>
    </form>
  </div>
</div>

