<header xmlns="http://www.w3.org/1999/html">
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <p class="navbar-text float-left">
        <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/" class="navbar-link">
          <span class="nav-black-icon fas fa-chevron-left fontawsome_icon top-left"></span>
        </a>
        <a class="navbar-black-brand" routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/{{widgetId}}/image">
          Edit Widget
        </a>
      </p>
      <a (click)="widgetOperation()" class="navbar-link navbar-text float-right check-icon"><span class="nav-black-icon fas fa-check fontawsome_icon top-right">
        </span>
      </a>
    </div>
  </nav>
</header>
<main>
<div class="container">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
    <div class="form-group">
      <label for="image-text" class="text-bold">Name</label>
      <input id="image-text" type="text" class="form-control" placeholder="Name" [(ngModel)]="widget.name">
    </div>
    <div class="form-group">
      <label for="image-url" class="text-bold">URL</label>
      <input id="image-url" type="url" class="form-control" placeholder="URL" [(ngModel)]="widget.url"/>
    </div>
    <div class="form-group">
      <label for="image-width" class="text-bold">Width</label>
      <input id="image-width" type="text" class="form-control" placeholder="80%" [(ngModel)]="widget.width"/>
    </div>

    <input style="display: none" type="file" class="form-control" (change)="onFileChanged($event)" #fileInput/>
  <button *ngIf="!isNewWidget" (click)="fileInput.click()" class="btn btn-block btn-primary">Select Image</button>
    <button *ngIf="!isNewWidget" (click)="upload()" class="btn btn-block btn-primary">Upload</button>

  <a *ngIf="!isNewWidget" class="btn btn-primary btn-block "
     routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/{{widgetId}}/image/flickr" >Choose From Flickr</a>

  <a *ngIf ="!isNewWidget" class="btn btn-danger btn-block" (click)="deleteWidget()">Delete</a>
  <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/" class="btn btn-success btn-block">Cancel</a>

</div>
</main>
<footer>
  <nav class="navbar fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text float-left"></p>
      <a class="nav-black-icon" routerLink="/profile">
        <span class="fas fa-user fontawsome-icon bottom-right"></span>
      </a>
    </div>
  </nav>
</footer>
