
<header>
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <p class="navbar-text float-left">
        <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/" class="navbar-link">
          <span class="nav-black-icon fas fa-chevron-left fontawsome_icon top-left"></span>
        </a>
        <a class="navbar-black-brand" routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/{{widgetId}}/html">
          Edit Widget
        </a>
      </p>
      <a (click)="widgetOperation()" class="navbar-link navbar-text float-right check-icon">
        <span class="nav-black-icon fas fa-check fontawsome_icon top-right">
        </span>
      </a>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    <div *ngIf="errorFlag" class="alert alert-danger">
      {{errorMsg}}
    </div>
    <div class="form-group text-padding-top">
      <label for="text-body" class="text-bold">Text</label>
      <input id="text-body" type="text" class="form-control" placeholder="text" [(ngModel)]="widget.text"/>
    </div>

    <div class="form-group">
      <label for="rows" class="text-bold">Rows</label>
      <input id="rows" type="number" [(ngModel)]="widget.rows" placeholder="number" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="name" class="text-bold">Name</label>
      <input id="name" [(ngModel)]="widget.name" type="text" class="form-control" name="name" placeholder="Name"/>
    </div>

    <div class="form-group">
      <label for="placeholder" class="text-bold">Placeholder</label>
      <input [(ngModel)]="widget.placeholder" id="placeholder" class="form-control" placeholder="placeholder" required/>
    </div>

      <div class="input-group">
        <span>
          <input [(ngModel)]="widget.formatted" type="checkbox"/><span class="text-bold">Formatted</span>
        </span>
      </div>


    <a *ngIf="!isNewWidget" class="btn btn-danger btn-block" (click)="deleteWidget()">Delete</a>
    <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/" class="btn btn-success btn-block">Cancel</a>

  </div>
</main>
<footer>
  <nav class="navbar fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text float-left"></p>
      <a class="nav-black-icon" routerLink="/profile">
        <span class="fas fa-user fontawsome-icon bottom-right"></span>
      </a>
    </div>
  </nav>
</footer>
