<header>
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <p class="navbar-text float-left">
        <a routerLink="/profile/website/{{websiteId}}/page" class="navbar-link">
          <span class="nav-black-icon fas fa-chevron-left fontawsome_icon top-left"></span>
        </a>
        <a class="navbar-black-brand" routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget">
          Widgets
        </a>
      </p>
      <a routerLink="new" class="navbar-link navbar-text float-right">
        <span class="nav-black-icon fas fa-plus fontawsome-icon top-right"></span>
      </a>
    </div>
  </nav>
</header>

<main>
<div class="container">
  <div appSortable (newIndexes)="reorderWidgets($event)">
    <div *ngFor="let widget of widgets" class="text-padding-top">
      <div [ngSwitch]="widget.type">
        <div *ngSwitchCase="'HEADER'">
          <div class="text-padding-top">
              <a class="float-right" routerLink="{{widget._id}}/header">
                <span class="fas fa-cog fontawsome_icon"></span>
              </a>
            <h1 [style.font-size]="widget.size? widget.size:'22' + 'px'">
              {{widget.name}}
            </h1>
          </div>
        </div>

        <div *ngSwitchCase="'HTML'">
          <div class="text-padding-top">
            <div class="text-padding-top">
              <a class="float-right" routerLink="{{widget._id}}/html">
                <span class="fas fa-cog fontawsome_icon"></span>
              </a>
            <div [innerHTML]="widget.text"></div>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'IMAGE'">
            <div class="text-padding-top">
              <div class="text-padding-top">
                <a class="float-right" routerLink="{{widget._id}}/image">
                  <span class="fas fa-cog fontawsome_icon"></span>
                </a>
              </div>
              <img class="img-fluid img-rounded widget-images" [src]="widget.url" [style.width]="widget.width? widget.width:'80%'">
            </div>
        </div>

        <div *ngSwitchCase="'TEXT'">
          <div class="text-padding-top">
            <div class="text-padding-top">
              <a class="float-right" routerLink="{{widget._id}}/text">
                <span class="fas fa-cog fontawsome_icon"></span>
              </a>
              <div *ngIf="widget.formatted"> <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor> </div>
              <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)" placeholder="{{widget.placeholder}}" class="form-control"/>
              <textarea *ngIf="!widget.formatted && (widget.rows > 1)" rows="{{widget.rows}}" placeholder="{{widget.placeholder}}" class="form-control">{{widget.text}}</textarea>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'YOUTUBE'" class="youtube-widget">
          <div class="text-padding-top">
            <div class="embed-responsive embed-responsive-16by9 text-padding-top">
              <iframe width="640" height="360" [src]="checkUrl(widget.url)" frameborder="0" allowfullscreen [style.width]="widget.width? widget.width:'80%'">
              </iframe>
              <a class="float-right" routerLink="{{widget._id}}/youtube">
                <span class="fas fa-cog fontawsome_icon"></span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
</div>
</main>

<footer>
  <nav class="navbar fixed-bottom">
    <div class="container-fluid float-left">
      <div class="float-left">
        <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget" class="navbar-link navbar-text text-white">
          <span class="nav-black-icon fas fa-play fontawsome_icon bottom-left">
          </span>
        </a>
        <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget" class="navbar-link navbar-text text-white">
          <span class="nav-black-icon fas fa-eye fontawsome_icon bottom-left">
          </span>
        </a>
      </div>
      <div class="float-right">
        <a routerLink="/profile}" class="navbar-link navbar-text text-white">
          <span class="nav-black-icon fas fa-user fontawsome_icon bottom-right">
          </span>
        </a>
      </div>
    </div>
  </nav>
</footer>



